# PHP
*.log

# Composer
/vendor/
composer.phar

# Database
*.sqlite
*.sqlite3
/database/*.sqlite
/database/*.sqlite3

# Temporary files
cookies.txt
*.TMP

# Backup files
*.bak
*.backup
*.old

# Cache
*.cache

# Logs
logs/
*.log

# Notlar
notlarım.txt